<!DOCTYPE html>
<html>
<head>
	<title>Magnitube</title>
	<link rel="stylesheet" href="{{STATIC_URL}}css/style.css" />
	{% block extrahead %}
	{% endblock %}
</head>
<body>
	<div id="container">
		<div id="logo">
			<img src="{{STATIC_URL}}images/logo.png" /> 
		</div>
	{% block content %}
	{% endblock %}
	{% block results %}
	{% endblock %}
	</div>
	<div id="footer">
		Created by <a href="http://sadjad.me/" target="_blank">Sadjad Fouladi</a>, idea by <a href="http://onible.com" target="_blank">Alimohammad Rabbani</a>. Domain provided by <a href="http://kamyarinfinity.com" target="_blank">Kamyar Allahverdi</a> (he doesn't know it yet).
	</div>
	<script type="text/javascript">
	
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-36861260-1']);
	  _gaq.push(['_setDomainName', 'magnitu.be']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>
</body>
</html>