<!DOCTYPE html>
<html>
<head>
	<title>Video: {{ video_id}}</title>	
	<script
	  src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js">
	</script>
	<script src="http://releases.flowplayer.org/5.2.0/flowplayer.min.js"></script>
	<link rel="stylesheet" type="text/css"
	href="http://releases.flowplayer.org/5.2.0/skin/functional.css" />

</head>
<body>
	
	<div class="flowplayer">
		<!--<video src="http://magnitu.be/{{video_id}}/{{fmt}}/{{filename}}?view=1">
		</video>-->
		<video src="http://sadjad.me/media/tQ7fyLTIBTg.mp4"></video>
	</div>
	
	
</body>
</html>