<!DOCTYPE html>
<html>
<head>
	<title>Video: {{video_id}}</title>	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="{{STATIC_URL}}mediaelement/mediaelement-and-player.js"></script>
	<link rel="stylesheet" href="{{STATIC_URL}}css/view.css" />
	<link rel="stylesheet" href="{{STATIC_URL}}mediaelement/mediaelementplayer.css" />
</head>
<body>
	<div class="player">
		<video src="http://magnitu.be/{{video_id}}/{{fmt}}/{{filename}}?view=1">
		</video>
	</div>
	<script>
	$('video,audio').mediaelementplayer();
	</script>
</body>
</html>