<!DOCTYPE html>
<html>
<head>
	<title>Video: {{video_id}}</title>	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="{{STATIC_URL}}mediaelement/mediaelement-and-player.js"></script>
	<link rel="stylesheet" href="{{STATIC_URL}}css/view.css" />
	<link rel="stylesheet" href="{{STATIC_URL}}mediaelement/mediaelementplayer.css" />
</head>
<body>
	<div class="player">
		<video src="http://magnitu.be/{{video_id}}/{{fmt}}/{{filename}}?view=1">
		</video>
	</div>
	<script>
	$('video,audio').mediaelementplayer();
	var centerIt = function (el) {
		if (!el) {
			return;
		}
		var moveIt = function () {
			var winWidth = $(window).width();
			var winHeight = $(window).height();
			el.css("position","absolute").css("left", ((winWidth / 2) - (el.width() / 2)) + "px").css("top", ((winHeight / 2) - (el.height() / 2)) + "px");
		}; 
		$(window).resize(moveIt);
		moveIt();
	};
	
	centerIt($(".player"));
	</script>
</body>
</html>